* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  max-width: 1310px;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.banner {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 10px 15px;
}

.local-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin-left: 20px;
}

.page-title {
  font-size: 7rem;
  font-weight: 700;
  margin: 0px;
}

.banner-buttons {
  margin: 4px;
  font-size: 1.5rem;
  font-weight: 900;
  align-self: flex-end;
  font-family: 'Roboto Condensed', sans-serif;
}

.trial-button {
  background-color: #FFE400;
  border-radius: 24px;
  padding: 2px 10px;
}

.login-button {
  background: transparent;
  border: none;
}